# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Logs
logs/
*.log

# Results
results/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
*.bin
data/pir/
data/pir/*
